<!DOCTYPE html>
<html>
  <head>
    <title>CuentasClaras</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!-- PRUEBAS CON BOOTSTRAP -->
  <nav class="navbar navbar-light bg-faded justify-content-between">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
<!--FIN -->

  <body>
    <%= yield %>
  </body>
</html>
